* {
  box-sizing: border-box;
}

*::selection {
  background-color: #000;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #181818;
  background-image: url("../assets/bg.svg");
  transition: background-position 0.2s, background-color 0.2s;
}

body {
  font-family: "Sora", "等线", sans-serif;
  color: #eee;
  display: flex;
  flex-direction: row;
  transition: background-position 0.2s, background-color 0.2s;
  overflow: hidden;
}

a,
.clickable {
  color: inherit;
  transition: all 0.12s;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
.clickable:hover {
  opacity: 0.7;
}

p {
  margin: 10px 0;
}

path.clickable:hover,
path.clickable:active {
  fill: white;
}

svg {
  width: 100vw;
  height: 100vh;
}

svg-frame {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  align-self: center;
}

.container {
  flex: 1;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  max-width: 1500px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

.upper-links {
  display: flex;
}

.upper-links * {
  margin-right: 7px;
}

.title {
  line-height: 0.9;
  font-size: 60px;
  margin-bottom: 0;
}

.title .light {
  width: 400px; /* Line Wrap */
  display: inline-block;
}

.light {
  font-weight: 300;
}

.title-s {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.5;
}

.cc-by-sa {
  height: 40px;
  margin-bottom: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.sidebar.left {
  align-items: flex-start;
  justify-content: space-between;
}

.sidebar.middle {
  align-items: center;
  justify-content: flex-start;
}
.focus {
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.rate {
  font-size: 50px;
}
.desc {
  width: 130px;
}
.sidebar.right {
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
}

.methods {
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 1.35;
  text-transform: uppercase;
  text-shadow: 0px 0px 30px black;
}

a,
.clickable {
  pointer-events: all;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.scs-islands {
  opacity: 0.1;
  width: 100px;
}

.legend {
  margin-top: 60px;
}
.grad-bar {
  height: 5px;
  width: 180px;
  transition: all 0.2s;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 14px;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  pointer-events: none;
}

#geo-paths {
  transition: transform 1s;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #eee;
}

input[type="radio"] + label:before {
  content: "▸";
  margin-right: 5px;
  display: inline-block;
  transform: scale(1.5);
}

@media screen and (max-width: 701px) {
  svg-frame {
    margin-top: 100px;
  }
}

@media screen and (max-height: 955px) {
  .title {
    font-size: 35px;
  }
  .title-s {
    font-size: 10px;
  }
  .rate {
    font-size: 30px;
  }
  .methods {
    font-size: 22px;
  }
}
